<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='img/css/style.css') }}">
    <title>Авторизация</title>
</head>
<body>
    <div class="container">
        <h1 class="my-5 text-center text-danger">Авторизация</h1>
        {% for cat, msg in get_flashed_messages(True) %}
        <h4 class="my-5 text-center col-md-5 mx-auto {{cat}}">{{ msg }}</h4>
        {% endfor %}
        <div class="col-md-5 mx-auto">
            <form action="{{url_for('login')}}" method="POST">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa-solid fa-envelope fa-lg fa-fw"></i></div>
                    </div>
                    <input type="email" class="form-control" placeholder="E-mail" name="email" required/>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa-solid fa-lock fa-lg fa-fw"></i></div>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" pattern="^[a-zA-Z0-9]+$"
                    name="pass" required/>
                </div>
                <input type="submit" class="btn btn-danger form-control" value="Вход" />
                <a href="{{url_for('registration')}}">Регистрация</a>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0e44b991c6.js" crossorigin="anonymous"></script>
  </body>
</html>