<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ email }}</title>
</head>
<body>
    <div class="nav-link">
        <p style="font-size: 150%;">Ваш аккаунт: {{ email }}</p>
        <a href="{{ url_for('logout') }}"><button class="btn-nav">Выход</button></a>
    </div>
    <div class="box">
        {% if level > 2 %}
        <button class="btn-start">ПРОДОЛЖИТЬ</button>
        {% else %}
        <button class="btn-start">СТАРТ</button>
        {% endif %}
        <div id="result"></div>
        <table>
            {% for i in field %}
            <tr>{% for j in i %}
                {% if j %}
                <td><img src="{{ url_for('static', filename='bob.png') }}" alt="pic"></td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}</tr>
            {% endfor %}
        </table>
        <div class="monitor">
            <h3>Количество попыток: 
                <p style="font-size: 200%; margin: 0;" id="click">{{ (level * 1.5 + 0.1) |round |int }}</p>
            </h3>
            <h3>Количество картинок: 
                <p style="font-size: 200%; margin: 0;" id="img_count">{{ level }}</p>
            </h3>
        </div>
    </div>
    <script>
        let table = document.querySelectorAll('td');
        let count_image = '{{ level }}';
        let click = Math.ceil(count_image * 1.5);
        let start = document.querySelector('.btn-start');
        start.addEventListener('click', startGame);

        function startGame(){
            document.querySelector('.box').style.visibility = 'visible';
            document.querySelector('.monitor').style.visibility = 'visible';
            document.querySelector('.btn-start').style.visibility = 'hidden';
            windowSize(count_image);
            showTime();
            game();
        };

        function windowSize(value) {
            if (value > 9) {
                let img = document.querySelectorAll('img');
                for (let i=0; i < img.length; i++) {
                    img[i].style.height = '60px';
                    img[i].style.width = '60px';
                }
                let td = document.querySelectorAll('td');
                for (let i=0; i < td.length; i++) {
                    td[i].style.height = '60px';
                    td[i].style.width = '60px';

                }
            }
            if (value > 14) {
                let img = document.querySelectorAll('img');
                for (let i=0; i < img.length; i++) {
                    img[i].style.height = '45px';
                    img[i].style.width = '45px';
                }
                let td = document.querySelectorAll('td');
                for (let i=0; i < td.length; i++) {
                    td[i].style.height = '45px';
                    td[i].style.width = '45px';

                }
            }
        }

        function showTime(){
                let img = document.querySelectorAll('img');
                for (let i=0; i < img.length; i++) {
                    img[i].style.display = 'flex';
                }
                setTimeout(() => {for (let i=0; i < img.length; i++) {
                    img[i].style.display = 'none';
                }}, 3000)
        }

        function sendForm(){
            let request = new FormData();
            request.append('result', 'win');

            let response = fetch("{{ url_for('profile', email=email)}}", {
                method: 'POST',
                body: request
            });
        };

        function game(){setTimeout(()=>{for (td of table){
                                            td.onmousedown = function(e){
                                            td = e.currentTarget;
                                            if (td.querySelector('img')) {
                                                td.querySelector('img').style.display = 'flex';
                                                td.querySelector('img').style.background = 'rgba(255,255,255,.65)';
                                                count_image -= 1;
                                                click -= 1;

                                                if (count_image == 0){
                                                    setTimeout(() => {document.querySelector('table').hidden = true;}, 700);
                                                    setTimeout(() => {document.querySelector('.monitor').style.visibility = 'hidden';}, 700);
                                                    setTimeout(() => {document.querySelector('#result').innerHTML = 'Победа';}, 1000);
                                                    sendForm();
                                                    setTimeout(function(){window.location.href = "{{url_for('profile', email = email)}}";}, 2000);}

                                            } else {
                                                td.style.background = 'white';
                                                setTimeout(() => {  td.style.background = 'rgb(100,100,100)\
                                                radial-gradient(circle at 0 0, rgba(255,255,255,.65),\
                                                rgba(255,255,255,.35))'; }, 200);
                                                click -= 1;
                                            }

                                            document.querySelector('#click').innerHTML = click;
                                            document.querySelector('#img_count').innerHTML = count_image;
                                            if (click == 0 && count_image != 0) {
                                                    setTimeout(() => {document.querySelector('table').hidden = true;});
                                                    setTimeout(() => {document.querySelector('.monitor').style.visibility = 'hidden';});
                                                    setTimeout(() => {document.querySelector('#result').innerHTML = 'Вы проиграли';});
                                                    setTimeout(function(){window.location.href = "{{ url_for('profile', email=email) }}";}, 1000);
                                                }
                                        };
                                        }}, 3000)
        }

    </script>
</body>

</html>